.hidden {
    display: none;
}
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* ------reset------ */

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*------ common------- */

.container {
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 767px) {
    .container {
    width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
    width: 1158px;
    padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu-list,
.header-address {
    display: none;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    padding: 16px 0;
    display: block;

    
}

.header-logo .header-accent {
    color: var(--navy-blue);
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #2f2f37;
    line-height: 0;
    cursor: pointer;
    line-height: 0;
    cursor: pointer;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo { 
        padding: 24px 0;
        margin-right: 120px;
    } 

    .header-nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }
    
    .header-nav-link.current {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-nav-link.current::after {
        content: '';
    
        position: absolute;
        left: 0;
        bottom: -2px;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: var(--ocean);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }

    .header-address {
        font-style: normal;
        display: block;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-address-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--slate);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


   .header-nav-link:hover,
   .header-nav-link:focus,
   .header-address-link:hover,
   .header-address-link:focus,
   .header-nav-link.current {
       color: #404bbf;
    }

}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .header-address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .header-address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        font-style: normal;
    }
}


/* mobile menu */

@media only screen and (max-width: 768px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 99999999999;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    }

    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;

        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .burger-btn {
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        line-height: 0;
        border: none;

    }

    .mobile-menu-close {
        fill: #2e2f42;
        padding: 0;
        line-height: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: transparent;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu-close {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close:hover,
    .mobile-menu-close:focus {
        border-radius: 100%;
        fill: #fff;
        background-color: #404bbf;
        border: none;
    }

    .mobile-nav-menu {
        margin-bottom: auto;
    }

    .mobile-nav-list-link {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .current {
        color: #404bbf;
    }

    .mobile-nav-list-link:hover,
    .mobile-nav-list-link:focus {
        color: #404bbf;
    }

    .mobile-nav-list-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .mobile-contacts-studio {
        font-style: normal;
        display: block;
        left: 0;
    }

    .mobile-contacts-link:hover,
    .mobile-contacts-link:focus {
        color: #404bbf;
    }

    .mobile-contacts-link {
        font-size: 16px;
        color: #434455;
        letter-spacing: 0.02em;
        transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .mobile-contacts-studio-list-item {
        margin-bottom: 24px;
    }

    .link-tel {
        color: #4d5ae5;
    }

    .mobile-social-media-container {
        margin-top: 48px;
    }

    .mobile-social-list {
        display: flex;
        gap: 40px;
    }

    .mobile-social-list-item {
        width: 40px;
        height: 40px;
    }

    .mobile-social-list-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-social-list-icon {
        fill: #f4f4fd;
        }

    .mobile-social-list-link:hover,
    .mobile-social-list-link:focus {
        background-color: #404bbf;
    }
}


@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}


/* Tablets styles */

@media only screen and (min-width: 768px) {
    .header-logo {
        margin-right: 120px;
        }

    .header-navigation {
        display: flex;
        align-items: center;
        }

    .header-menu-list {
        display: flex;
        gap: 40px;
        }

    .header-nav-link {
        font-weight: 500;
        line-height: 1.16;
        color: #2e2f42;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    .current {
        position: relative;
        color: #404bbf;
        }

    .header-nav-link:hover,
    .header-nav-link:focus {
        color: #404bbf;
        }

    .header-address {
        display: block;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-address-link {
        font-weight: 400;
        font-size: 12px;
        color: #434455;
        line-height: 1.16;
        letter-spacing: 0.04em;
        transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-link:hover,
    .header-address-link:focus {
        color: #404bbf;
    }
}

/* Desktop styles */

@media only screen and (min-width: 1158px) {
    .header-logo{
        margin-right: 76px;
    }

    .header-address-list {
        flex-direction: row;
        gap: 40px;
    }

    .header-address-link,
    .header-nav-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* Section 1  HERO*/

.hero {
    background: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero\ image\ -mobile-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.button {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background: #4d5ae5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero\ image-mobile-2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero\ image-tablet-1x.jpg);
        padding: 112px 0;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        letter-spacing: 0.02em;
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero\ image-tablet-2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg.jpg);
        padding: 188px 0;
    }

    .hero-title {
        margin-bottom: 36px;
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-2x.jpg);
    }
}

/* Section2 Features*/

.features {
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
    max-width: 100%;
}

.svg-icon {
    display: none;
}

.features-subtitle {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.features-item-text {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
    .features-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .benefits-list-item {
        width: calc((100% - 72px) / 4);
    }

    .features-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features-subtitle {
        font-size: 20px;
        line-height: 1.2;
    }

    .svg-icon {
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }
}

/* Our Team Section 3 */

.team {
    background: #f4f4fd;
    padding: 96px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    max-width: 264px;
}

.team-container {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;

}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .team-container-group {
        max-width: 584px;
    }
}

@media only screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-container-group {
        max-width: 1158px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .team-container {
        padding: 32px 0;
    }
}


/* Section 4 Portfolio */


.portfolio {
    padding: 96px 0;
}

.portfolio-container {
    text-align: center;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.port-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border: 1px solid #e7e9fc;
    transform: translateY(100%);
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

@media only screen and (min-width: 768px) {
    .portfolio-list {
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }
}

/* Footer styles */

.footer {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
}

.footer-logo {
    display: inline-block;
    margin-top: 16px;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer-web {
    color: #4D5AE5;
}

.footer-accent {
    color: var(--cloud);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.social-media-container {
    box-sizing: border-box;
}

.footer-social-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 208px;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-soclist-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}



/* Footer modal Footer-subscribe */

.footer-form {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    align-items: center;
}

.footer-svg {
    fill: #fff;
    margin-left: 16px;
}

@media only screen and (max-width: 767px) {

    .footer-subscribe,
    .footer-social-text {
        text-align: center;
        margin-bottom: 24px;
    }
    .footer-logo {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .footer-container {
        align-items: baseline;
        justify-content: start;
        padding-left: 108px;
    }

    .footer-nav {
        max-width: 264px;
    }

    .footer-input {
        width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        padding-left: 15px;
        gap: 0;
    }

    .footer-nav {
        margin-right: 120px;
    }

    .footer-social-link {
        margin-right: auto;
    }

    .footer-social-text {
        margin-bottom: 16px;
    }

    .footer-soclist-link:hover,
    .footer-soclist-link:focus {
        background-color: #31d0aa;
    }
}



/* Modal */

@media only screen and (max-width: 767px) {
    .modal {
        max-width: 288px;
        padding-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        width: 256px;
    }

    .checkbox-span {
        flex-shrink: 0;
    }
}

.modal {
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    fill: #2e2f42;
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    border-radius: 100%;
    fill: #fff;
    background-color: #404bbf;
    border: none;
}




/* REview form */


.backdrop-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 8px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
}

.form-input:focus {
    outline: transparent;
    border: 1px solid #4d5ae5;
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    background-color: transparent;
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
    outline: transparent;
    border: 1px solid #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment-wrapper {
    margin-bottom: 16px;
}


.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-top: 16px;
    margin-bottom: 24px;
}

.checkbox-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked+label>span {
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    border: none;
    fill: #f4f4fd;
}

.button-send {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background: #4d5ae5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
    border: none;
}